<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into user (openid, name, phone, sex, id_number, avatar, create_time)
        values (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{createTime})
    </insert>

    <!-- 统计用户数量 -->
    <select id="getUserStatistics" resultType="java.util.Map">
        select
            DATE(create_time) as regDate,
            COUNT(id) as dailyNew,
            SUM(COUNT(id)) OVER (ORDER BY DATE(create_time)) as dailyTotal
        from user
        where
            <if test="lastEndTime != null">
                create_time &lt;= #{lastEndTime}
            </if>
        group by DATE(create_time)
    </select>
</mapper>